In [16]:
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt
import random
from src import weekly
from distributions import UniformDistribution

In [3]:
file_to_load = Path.cwd().parent.joinpath('data').joinpath('chipotle.tsv')
food = pd.read_csv("C:/Users/User\Documents\GitHub\ECOPY_23241\data\chipotle.tsv", delimiter='\t')

In [7]:
food

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
def change_price_to_float(input_df):
    food = input_df.copy()
    food['item_price'] = food['item_price'].str.replace('$', '').astype(float)
    return food

In [5]:
food_clear = change_price_to_float(food)

In [15]:
def unique_items_over_ten_dollars(input_df):
    new_df = input_df.copy()
    filtered_df = new_df[new_df["item_price"] > 10]
    # Duplikációk eltávolítása
    unique_items_df = filtered_df.drop_duplicates(subset=["item_name", "choice_description", "item_price"])
    return unique_items_df[["item_name", "choice_description", "item_price"]]

In [16]:
unique_items_over_ten_dollars(food_clear)

,item_name,choice_description,item_price
4,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...
4593,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4607,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

In [13]:
def items_starting_with_s(input_df):
    new_df = input_df.copy()
    selected_items = new_df[new_df['item_name'].str.startswith('S')]
    unique_selected_items_df = selected_items.drop_duplicates(subset=["item_name"])
    return unique_selected_items_df["item_name"].reset_index(drop=True)

In [14]:
items_starting_with_s(food_clear)

0         Side of Chips
1         Steak Burrito
2      Steak Soft Tacos
3            Steak Bowl
4    Steak Crispy Tacos
5      Steak Salad Bowl
6           Steak Salad
7                 Salad
Name: item_name, dtype: object

In [6]:
def generate_quartile(input_df):
    new_df = input_df.copy()
    new_df['Quartile'] = pd.cut(input_df['item_price'], [-1, 10, 20, 30, float('inf')], labels=['low-cost', 'medium-cost', 'high-cost', 'premium'], right=False).astype('object')
    return new_df

In [7]:
food_quartile = generate_quartile(food_clear)

In [48]:
def average_price_in_quartiles(input_df):
    new_df = input_df.copy()
    avg_price_df = new_df.groupby('Quartile')['item_price'].mean().reset_index(drop=True)
    return avg_price_df

In [49]:
average_price_in_quartiles(food_quartile)

0    23.181951
1     5.869593
2    11.853084
3    36.031667
Name: item_price, dtype: float64

In [1]:
def minmaxmean_price_in_quartile(input_df):
    new_df = input_df.copy()
    result = new_df.groupby('Quartile')['item_price'].agg(['min', 'max', 'mean']).reset_index(drop=True)
    result.columns = ['min', 'max', 'mean']
    return result

In [8]:
minmaxmean_price_in_quartile(food_quartile)

     min    max       mean
0  21.96  27.75  23.181951
1   1.09   9.39   5.869593
2  10.50  18.50  11.853084
3  32.94  44.25  36.031667

In [23]:
def gen_uniform_mean_trajectories(distribution, number_of_trajectories, length_of_trajectory):
    random.seed(42)
    trajectories = []  # Ebben a listában tároljuk az eredményt

    for _ in range(number_of_trajectories):
        trajectory = []  # Ebben a listában tároljuk a kumulatív átlagokat
        cumulative_sum = 0.0  # Kezdetben a kumulatív átlag nulla

        for _ in range(length_of_trajectory):
            random_value = distribution.gen_random()  # Véletlen szám a megadott eloszlás alapján
            cumulative_sum += random_value  # Frissítjük a kumulatív átlagot
            trajectory.append(cumulative_sum)  # Hozzáadjuk a kumulatív átlagot a belső listához

        trajectories.append(trajectory)  # Hozzáadjuk a belső listát az eredmény listához

    return trajectories

In [21]:
dist = UniformDistribution(random, 0, 1)

In [24]:
gen_uniform_mean_trajectories(dist, 2, 100)

[[0.6394267984578837,
  0.6644375536805507,
  0.9394668720496699,
  1.1626776101984926,
  1.899148824362505,
  2.5758483117854163,
  3.4680278794902617,
  3.5549667121196777,
  3.9768885318049483,
  4.006685751243019,
  4.225323726046622,
  4.730679014149985,
  4.757214983833848,
  4.956052634520497,
  5.60593707230002,
  6.150878552903237,
  6.371319174943933,
  6.960584858819842,
  7.770015315497669,
  7.776514075175729,
  8.582333327008538,
  9.280472721996764,
  9.620723238514756,
  9.776202738326537,
  10.733415810533318,
  11.070010355645945,
  11.162756199026093,
  11.259472575859558,
  12.106966942207018,
  12.71069297357391,
  13.517821246848289,
  14.247553033542108,
  14.783781124996809,
  15.75689688897618,
  16.135431266184533,
  16.68747189745776,
  17.516876561710752,
  18.135396314075,
  18.997103214385778,
  19.57445535964254,
  20.279027195857463,
  20.324851579513126,
  20.552749855164674,
  20.84213781876678,
  20.921929795690406,
  21.154720682051437,
  21.255722111461164,
  21.533695714571255,
  22.169380158835654,
  22.534212337805737,
  22.90439330492262,
  23.113900335694108,
  23.380878157743222,
  24.317532745455715,
  24.96556813070231,
  25.574699136369297,
  25.745837784567392,
  26.474964582517742,
  26.63836707627967,
  27.01782251803732,
  28.007345868673916,
  28.647345628528008,
  29.204295372302653,
  29.888909623292527,
  30.731761543482335,
  31.50776145502858,
  31.736809526992683,
  31.76890977089672,
  32.0843628189558,
  32.35210369493151,
  32.56308653851784,
  33.50599625285289,
  34.38236387932556,
  34.69704176012404,
  35.35248042541892,
  35.748112326479585,
  36.66265991622013,
  37.12151176880753,
  37.38639193530558,
  37.63301944299957,
  38.19438757716272,
  38.45712918568566,
  39.0417151759092,
  39.939538059511676,
  40.338938564652075,
  40.55825932380936,
  41.55579693030447,
  42.06532322398093,
  42.156232636154726,
  42.20334901157946,
  42.31299814193012,
  42.94044418363321,
  43.73252354799617,
  44.154683514795856,
  44.218211220947815,
  44.59983050745435,
  45.59595188769445,
  46.125066232793586,
  47.0961446104072,
  47.956924312641696],
 [0.011481021942819636,
  0.7322028413030143,
  1.413913210329589,
  1.9508835407383842,
  2.217708730690927,
  2.858670529270735,
  2.9702227028666113,
  3.4049879535357164,
  3.8587116598649227,
  4.812527587386003,
  5.688380527764197,
  5.951769578515288,
  6.452355691565586,
  6.631007572095717,
  7.543635411440538,
  8.414153981277305,
  8.712598772725938,
  9.351548267591943,
  9.960518479030116,
  10.11335774757975,
  10.875868547654902,
  11.415247577774528,
  12.193874056405086,
  12.724227728600264,
  12.724799624728208,
  13.048955681732881,
  13.068432424118713,
  13.99753104038333,
  14.876252918206514,
  15.707918447567694,
  16.015432572970354,
  16.07335773946454,
  16.951367338668582,
  17.898316783966578,
  17.983970236034455,
  18.46996069935107,
  18.539173217819453,
  19.299775383076685,
  20.065609812383673,
  20.194001276883437,
  20.66928365498217,
  21.219087248477113,
  21.48414387741717,
  22.35657691850243,
  22.77971485870332,
  22.9915130641454,
  23.53080915292486,
  24.260740222014835,
  24.46189128540453,
  24.773607576705423,
  25.76875693336632,
  26.418634991005774,
  26.856735074920277,
  27.374310915955867,
  27.495315111824134,
  27.72001244885569,
  28.058098011003146,
  28.64640672946038,
  28.876521462056957,
  29.096738846508515,
  29.167731932517547,
  29.798834889787646,
  30.0277766735988,
  30.93319668660493,
  31.792832086858677,
  31.863689436747332,
  32.10169407111633,
  32.77067184941261,
  32.98490865678305,
  33.11722050550807,
  34.052734746088746,
  34.62377783941403,
  35.096448865725826,
  35.88106829001658,
  36.68856528778322,
  36.8789752021451,
  36.97590601637392,
  37.4069571987803,
  37.83053582180022,
  38.29756048983689,
  39.02663633929674,
  39.70000088659005,
  40.684166097956016,
  40.782583969107975,
  41.18520525121024,
  41.524507856605204,
  42.386180392957996,
  42.634836726878284,
  42.82504563531909,
  43.273659183152226,
  43.69554082298663,
  43.97408596765357,
  44.22389241553567,
  45.14715801481169,
  45.590288759865146,
  46.451637864626974,
  47.001963177076824,
  47.0525515066017,
  48.05183397501443,
  48.887861560094386]]