In [4]:
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt
import random

In [5]:
file_to_load = Path.cwd().parent.joinpath('data').joinpath('chipotle.tsv')
food = pd.read_csv("C:/Users/User\Documents\GitHub\ECOPY_23241\data\chipotle.tsv", delimiter='\t')

In [7]:
food

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [6]:
def change_price_to_float(input_df):
    food = input_df.copy()
    food['item_price'] = food['item_price'].str.replace('$', '').astype(float)
    return food

In [7]:
food_clear = change_price_to_float(food)

In [15]:
def unique_items_over_ten_dollars(input_df):
    new_df = input_df.copy()
    filtered_df = new_df[new_df["item_price"] > 10]
    # Duplikációk eltávolítása
    unique_items_df = filtered_df.drop_duplicates(subset=["item_name", "choice_description", "item_price"])
    return unique_items_df[["item_name", "choice_description", "item_price"]]

In [16]:
unique_items_over_ten_dollars(food_clear)

,item_name,choice_description,item_price
4,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...
4593,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4607,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

In [13]:
def items_starting_with_s(input_df):
    new_df = input_df.copy()
    selected_items = new_df[new_df['item_name'].str.startswith('S')]
    unique_selected_items_df = selected_items.drop_duplicates(subset=["item_name"])
    return unique_selected_items_df["item_name"].reset_index(drop=True)

In [14]:
items_starting_with_s(food_clear)

0         Side of Chips
1         Steak Burrito
2      Steak Soft Tacos
3            Steak Bowl
4    Steak Crispy Tacos
5      Steak Salad Bowl
6           Steak Salad
7                 Salad
Name: item_name, dtype: object

In [24]:
def generate_quartile(input_df):
    new_df = input_df.copy()
    new_df['Quartile'] = pd.cut(input_df['item_price'], [-1, 10, 20, 30, float('inf')], labels=['low-cost', 'medium-cost', 'high-cost', 'premium'], right=False).astype('object')
    return new_df

In [25]:
food_quartile = generate_quartile(food_clear)

In [48]:
def average_price_in_quartiles(input_df):
    new_df = input_df.copy()
    avg_price_df = new_df.groupby('Quartile')['item_price'].mean().reset_index(drop=True)
    return avg_price_df

In [49]:
average_price_in_quartiles(food_quartile)

0    23.181951
1     5.869593
2    11.853084
3    36.031667
Name: item_price, dtype: float64