In [4]:
import pandas as pd
! pip install fastparquet

sp_500_df = pd.read_parquet("C:/Users/User\Documents\GitHub\ECOPY_23241\data\sp500.parquet", engine='fastparquet')

Collecting fastparquet
  Downloading fastparquet-2023.8.0-cp310-cp310-win_amd64.whl (715 kB)
     -------------------------------------- 715.2/715.2 kB 6.5 MB/s eta 0:00:00
Requirement already satisfied: packaging in c:\users\user\documents\github\ecopy_23241\venv\lib\site-packages (from fastparquet) (23.1)
Requirement already satisfied: pandas>=1.5.0 in c:\users\user\documents\github\ecopy_23241\venv\lib\site-packages (from fastparquet) (2.1.0)
Collecting cramjam>=2.3
  Downloading cramjam-2.7.0-cp310-none-win_amd64.whl (1.3 MB)
     ---------------------------------------- 1.3/1.3 MB 12.2 MB/s eta 0:00:00
Collecting fsspec
  Downloading fsspec-2023.10.0-py3-none-any.whl (166 kB)
     -------------------------------------- 166.4/166.4 kB 9.8 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20.3 in c:\users\user\documents\github\ecopy_23241\venv\lib\site-packages (from fastparquet) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\documents\github\ecopy_23241\venv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\documents\github\ecopy_23241\venv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\documents\github\ecopy_23241\venv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\documents\github\ecopy_23241\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Installing collected packages: fsspec, cramjam, fastparquet
Successfully installed cramjam-2.7.0 fastparquet-2023.8.0 fsspec-2023.10.0

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
sp_500_df

           Symbol  Monthly Returns
Date
2000-02-29      A         0.569405
2000-03-31      A         0.001203
2000-05-31      A        -0.169252
2000-06-30      A         0.001698
2000-07-31      A        -0.447458
...           ...              ...
2022-06-30    ZTS         0.005616
2022-08-31    ZTS        -0.142536
2022-09-30    ZTS        -0.052642
2022-10-31    ZTS         0.018952
2022-11-30    ZTS         0.022284

[86611 rows x 2 columns]

In [7]:
ff_factors_df = pd.read_parquet("C:/Users/User\Documents\GitHub\ECOPY_23241\data/ff_factors.parquet", engine='fastparquet')

In [8]:
ff_factors_df

            Mkt-RF     SMB     HML     RF
Date
1926-07-31  0.0296 -0.0256 -0.0243  0.022
1926-08-31  0.0264 -0.0117  0.0382  0.025
1926-09-30  0.0036 -0.0140  0.0013  0.023
1926-10-31 -0.0324 -0.0009  0.0070  0.032
1926-11-30  0.0253 -0.0010 -0.0051  0.031
...            ...     ...     ...    ...
2023-03-31  0.0251 -0.0551 -0.0885  0.036
2023-04-30  0.0061 -0.0335 -0.0004  0.035
2023-05-31  0.0035  0.0161 -0.0772  0.036
2023-06-30  0.0646  0.0154 -0.0026  0.040
2023-07-31  0.0321  0.0207  0.0413  0.045

[1165 rows x 4 columns]

In [9]:
merged_df = pd.merge(sp_500_df, ff_factors_df, on='Date', how='left')

In [10]:
merged_df

           Symbol  Monthly Returns  Mkt-RF     SMB     HML     RF
Date
2000-02-29      A         0.569405  0.0245  0.2136 -0.0959  0.043
2000-03-31      A         0.001203  0.0520 -0.1720  0.0813  0.047
2000-05-31      A        -0.169252 -0.0442 -0.0605  0.0475  0.050
2000-06-30      A         0.001698  0.0464  0.1284 -0.0842  0.040
2000-07-31      A        -0.447458 -0.0251 -0.0307  0.0831  0.048
...           ...              ...     ...     ...     ...    ...
2022-06-30    ZTS         0.005616 -0.0843  0.0210 -0.0597  0.006
2022-08-31    ZTS        -0.142536 -0.0377  0.0140  0.0029  0.019
2022-09-30    ZTS        -0.052642 -0.0935 -0.0081  0.0005  0.019
2022-10-31    ZTS         0.018952  0.0783  0.0006  0.0801  0.023
2022-11-30    ZTS         0.022284  0.0460 -0.0352  0.0138  0.029

[86611 rows x 6 columns]

In [11]:
merged_df['Excess Return'] = merged_df['Monthly Returns'] - merged_df['Mkt-RF']

In [12]:
merged_df

,Symbol,Monthly Returns,Mkt-RF,SMB,HML,RF,Excess Return
Date,,,,,,,
2000-02-29,A,0.569405,0.0245,0.2136,-0.0959,0.043,0.544905
2000-03-31,A,0.001203,0.0520,-0.1720,0.0813,0.047,-0.050797
2000-05-31,A,-0.169252,-0.0442,-0.0605,0.0475,0.050,-0.125052
2000-06-30,A,0.001698,0.0464,0.1284,-0.0842,0.040,-0.044702
2000-07-31,A,-0.447458,-0.0251,-0.0307,0.0831,0.048,-0.422358
...,...,...,...,...,...,...,...
2022-06-30,ZTS,0.005616,-0.0843,0.0210,-0.0597,0.006,0.089916
2022-08-31,ZTS,-0.142536,-0.0377,0.0140,0.0029,0.019,-0.104836
2022-09-30,ZTS,-0.052642,-0.0935,-0.0081,0.0005,0.019,0.040858
2022-10-31,ZTS,0.018952,0.0783,0.0006,0.0801,0.023,-0.059348
2022-11-30,ZTS,0.022284,0.0460,-0.0352,0.0138,0.029,-0.023716

In [13]:
sorted_df = merged_df.sort_values(by='Date')

In [14]:
sorted_df

,Symbol,Monthly Returns,Mkt-RF,SMB,HML,RF,Excess Return
Date,,,,,,,
2000-01-31,CPRT,-0.987130,-0.0474,0.0577,-0.0188,0.041,-0.939730
2000-01-31,LNT,-0.988305,-0.0474,0.0577,-0.0188,0.041,-0.940905
2000-01-31,BKNG,6.844284,-0.0474,0.0577,-0.0188,0.041,6.891684
2000-01-31,SPG,-0.889351,-0.0474,0.0577,-0.0188,0.041,-0.841951
2000-01-31,LMT,-0.971967,-0.0474,0.0577,-0.0188,0.041,-0.924567
...,...,...,...,...,...,...,...
2022-11-30,SNPS,0.160622,0.0460,-0.0352,0.0138,0.029,0.114622
2022-11-30,GL,0.038435,0.0460,-0.0352,0.0138,0.029,-0.007565
2022-11-30,ALLE,0.084757,0.0460,-0.0352,0.0138,0.029,0.038757
2022-11-30,GLW,0.069552,0.0460,-0.0352,0.0138,0.029,0.023552
2022-11-30,ZTS,0.022284,0.0460,-0.0352,0.0138,0.029,-0.023716

In [16]:
sorted_df['ex_ret_1'] = sorted_df.groupby('Symbol')['Excess Return'].shift(-1)

In [17]:
sorted_df

,Symbol,Monthly Returns,Mkt-RF,SMB,HML,RF,Excess Return,ex_ret_1
Date,,,,,,,,
2000-01-31,CPRT,-0.987130,-0.0474,0.0577,-0.0188,0.041,-0.939730,0.212633
2000-01-31,LNT,-0.988305,-0.0474,0.0577,-0.0188,0.041,-0.940905,-0.081104
2000-01-31,BKNG,6.844284,-0.0474,0.0577,-0.0188,0.041,6.891684,-0.060060
2000-01-31,SPG,-0.889351,-0.0474,0.0577,-0.0188,0.041,-0.841951,-0.057994
2000-01-31,LMT,-0.971967,-0.0474,0.0577,-0.0188,0.041,-0.924567,-0.081933
...,...,...,...,...,...,...,...,...
2022-11-30,SNPS,0.160622,0.0460,-0.0352,0.0138,0.029,0.114622,NaN
2022-11-30,GL,0.038435,0.0460,-0.0352,0.0138,0.029,-0.007565,NaN
2022-11-30,ALLE,0.084757,0.0460,-0.0352,0.0138,0.029,0.038757,NaN
2022-11-30,GLW,0.069552,0.0460,-0.0352,0.0138,0.029,0.023552,NaN
2022-11-30,ZTS,0.022284,0.0460,-0.0352,0.0138,0.029,-0.023716,NaN

In [21]:
sorted_df.sort_values(by=['Symbol', 'Date'])

,Symbol,Monthly Returns,Mkt-RF,SMB,HML,RF,Excess Return,ex_ret_1
Date,,,,,,,,
2000-02-29,A,0.569405,0.0245,0.2136,-0.0959,0.043,0.544905,-0.050797
2000-03-31,A,0.001203,0.0520,-0.1720,0.0813,0.047,-0.050797,-0.125052
2000-05-31,A,-0.169252,-0.0442,-0.0605,0.0475,0.050,-0.125052,-0.044702
2000-06-30,A,0.001698,0.0464,0.1284,-0.0842,0.040,-0.044702,-0.422358
2000-07-31,A,-0.447458,-0.0251,-0.0307,0.0831,0.048,-0.422358,0.426633
...,...,...,...,...,...,...,...,...
2022-06-30,ZTS,0.005616,-0.0843,0.0210,-0.0597,0.006,0.089916,-0.104836
2022-08-31,ZTS,-0.142536,-0.0377,0.0140,0.0029,0.019,-0.104836,0.040858
2022-09-30,ZTS,-0.052642,-0.0935,-0.0081,0.0005,0.019,0.040858,-0.059348
2022-10-31,ZTS,0.018952,0.0783,0.0006,0.0801,0.023,-0.059348,-0.023716
2022-11-30,ZTS,0.022284,0.0460,-0.0352,0.0138,0.029,-0.023716,NaN

In [25]:
cleared_df = sorted_df.dropna(subset=['ex_ret_1'])

In [26]:
cleared_df.dropna(subset=['HML'])

,Symbol,Monthly Returns,Mkt-RF,SMB,HML,RF,Excess Return,ex_ret_1
Date,,,,,,,,
2000-01-31,CPRT,-0.987130,-0.0474,0.0577,-0.0188,0.041,-0.939730,0.212633
2000-01-31,LNT,-0.988305,-0.0474,0.0577,-0.0188,0.041,-0.940905,-0.081104
2000-01-31,BKNG,6.844284,-0.0474,0.0577,-0.0188,0.041,6.891684,-0.060060
2000-01-31,SPG,-0.889351,-0.0474,0.0577,-0.0188,0.041,-0.841951,-0.057994
2000-01-31,LMT,-0.971967,-0.0474,0.0577,-0.0188,0.041,-0.924567,-0.081933
...,...,...,...,...,...,...,...,...
2022-10-31,MAA,0.024170,0.0783,0.0006,0.0801,0.023,-0.054130,0.001190
2022-10-31,CME,-0.021622,0.0783,0.0006,0.0801,0.023,-0.099922,-0.027535
2022-10-31,EBAY,0.082314,0.0783,0.0006,0.0801,0.023,0.004014,0.100324
2022-10-31,V,0.166113,0.0783,0.0006,0.0801,0.023,0.087813,0.003841
2022-10-31,MU,0.082119,0.0783,0.0006,0.0801,0.023,0.003819,0.019619

In [29]:
cleared_df[cleared_df["Symbol"] == 'AMZN']

,Symbol,Monthly Returns,Mkt-RF,SMB,HML,RF,Excess Return,ex_ret_1
Date,,,,,,,,
2000-01-31,AMZN,-0.984367,-0.0474,0.0577,-0.0188,0.041,-0.936967,0.042296
2000-02-29,AMZN,0.066796,0.0245,0.2136,-0.0959,0.043,0.042296,-0.079223
2000-03-31,AMZN,-0.027223,0.0520,-0.1720,0.0813,0.047,-0.079223,-0.080375
2000-05-31,AMZN,-0.124575,-0.0442,-0.0605,0.0475,0.050,-0.080375,-0.294783
2000-06-30,AMZN,-0.248383,0.0464,0.1284,-0.0842,0.040,-0.294783,-0.145296
...,...,...,...,...,...,...,...,...
2022-05-31,AMZN,-0.032764,-0.0034,-0.0183,0.0839,0.003,-0.029364,-0.032159
2022-06-30,AMZN,-0.116459,-0.0843,0.0210,-0.0597,0.006,-0.032159,-0.022915
2022-08-31,AMZN,-0.060615,-0.0377,0.0140,0.0029,0.019,-0.022915,-0.015122
2022-09-30,AMZN,-0.108622,-0.0935,-0.0081,0.0005,0.019,-0.015122,-0.171751
2022-10-31,AMZN,-0.093451,0.0783,0.0006,0.0801,0.023,-0.171751,-0.103595

In [30]:
final_df = cleared_df.drop(columns=['Symbol'])

In [31]:
final_df

,Monthly Returns,Mkt-RF,SMB,HML,RF,Excess Return,ex_ret_1
Date,,,,,,,
2000-01-31,-0.987130,-0.0474,0.0577,-0.0188,0.041,-0.939730,0.212633
2000-01-31,-0.988305,-0.0474,0.0577,-0.0188,0.041,-0.940905,-0.081104
2000-01-31,6.844284,-0.0474,0.0577,-0.0188,0.041,6.891684,-0.060060
2000-01-31,-0.889351,-0.0474,0.0577,-0.0188,0.041,-0.841951,-0.057994
2000-01-31,-0.971967,-0.0474,0.0577,-0.0188,0.041,-0.924567,-0.081933
...,...,...,...,...,...,...,...
2022-10-31,0.024170,0.0783,0.0006,0.0801,0.023,-0.054130,0.001190
2022-10-31,-0.021622,0.0783,0.0006,0.0801,0.023,-0.099922,-0.027535
2022-10-31,0.082314,0.0783,0.0006,0.0801,0.023,0.004014,0.100324
2022-10-31,0.166113,0.0783,0.0006,0.0801,0.023,0.087813,0.003841
2022-10-31,0.082119,0.0783,0.0006,0.0801,0.023,0.003819,0.019619